.forgotPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('https://t3.ftcdn.net/jpg/04/55/44/08/360_F_455440803_7JkZUyIj585rvN95ovezI7xExNGrDAEG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .forgotPasswordBox {
    background-color: white;
    width: 25vw;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.400);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(15px);
    animation: bottom-to-top 1.5s forwards;
    border: 2px solid rgb(255, 163, 101);
    border-radius: 20px;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    color: whitesmoke;
    font: 400 1.6vmax "Playfair Display";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(255, 2, 2, 0.205);
    width: 50%;
    margin: auto;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
  }
  .label{
    position: absolute;
    top:0.2px;
    left: 45px;
    font-family: 'Rubik',sans-serif;
    color:#8DFF8D;
    font-weight: bold;
    transition: top 0.5s;
    padding: 0 5px;
    visibility: hidden;
  }
  .forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid greenyellow;
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    margin-bottom: 1vmax;
    background: transparent;
    font-size: 1.1vmax;
    color: whitesmoke;
  }
  .forgotPasswordForm > div >input:focus::placeholder{
    color: transparent;
  }
  .forgotPasswordForm > div >input::placeholder{
    font-size: 1.2vmax;
    color: whitesmoke;
  }
  
  .forgotPasswordForm>div>input:focus ~ label{
    visibility: visible;
    top: -12px;
    background: #ef7d12;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    padding: 0 1vmax;
    color: rgb(1,29,29);
  }
  .forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    margin-bottom:1vmax ;
    color: orange;
  }
  
  .forgotPasswordBtn {
    letter-spacing: 2px;
    font-size: 2vmax;
    font-family: 'PT Serif', serif;
    padding: 0.5vmax 3vmax;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.623);
    background-color: #f79a31;
    border: 0;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px ;
    transition: all 0.5s;
  }
  
  .forgotPasswordBtn:hover {
    background-color: rgb(139, 255, 147);
  }
  
  @media screen and (max-width: 600px) {
    .forgotPasswordBox {
        width: 70vw;
        height: 45vh;
    }
  
    .forgotPasswordForm {
      padding: 5vmax;
    }
    .forgotPasswordHeading{
        font-size: 2.4vmax;
        font-weight: 800;
        border-bottom: 1px solid white;
    }
    .forgotPasswordForm > div > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
  
    .forgotPasswordForm > div > svg {
        position: absolute;
        transform: translateX(1vmax);
        font-size: 1.6vmax;
    }
  
    .forgotPasswordBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1vmax 5vmax 1vmax 5vmax;
    }
    .label{
        left: 25px;
    }
    .forgotPasswordForm>div>input:focus ~ label{
        padding: 1px 20px 1px 20px;
    }
  }