.shippingContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('https://t3.ftcdn.net/jpg/04/55/44/08/360_F_455440803_7JkZUyIj585rvN95ovezI7xExNGrDAEG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.shippingBox{
    background: rgba(0, 0, 0, 0.400);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
    border: 0;
    border-top-left-radius: 40px;
    backdrop-filter: blur(15px);
    width: 40vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
    animation: bottom-to-top 2s forwards;
    border: 2px solid rgb(255, 163, 101);
}
.shippingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}
.shippingHeading{
    color: aliceblue;
    font: bold 1.5vmax "Playfair Display";
    text-align: center;
    margin-top: 1vmax;
    margin-bottom: 2vmax;
    letter-spacing: 2px;
}
.shippingForm > div{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}
.shippingForm > div > select{
    padding: 1.5vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    color: rgb(13, 221, 17);
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #8DFF8D;
    border-radius: 4px;
    background: transparent;
    font: 300 1.2vmax cursive;
    outline: none;
    margin-top: 1vmax;
}
.shippingForm > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    color: beige;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #8DFF8D;
    border-radius: 4px;
    background: transparent;
    font: 300 1.2vmax cursive;
    outline: none;
    margin-top: 2vmax;
}
.shippingForm > div > label{
    position: absolute;
    top:15px;
    left: 45px;
    font-family: 'Rubik',sans-serif;
    color:#8DFF8D;
    font-weight: bold;
    transition: top 0.5s;
    padding: 0 5px;
    visibility: hidden;
}
.shippingForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.8vmax;
    top:38px;
    color:#8DFF8D;
}

.shippingForm > div > input:focus ~ label{
    visibility: visible;
    top: 18px;
    background: #8DFF8D;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    padding: 0 1vmax;
    color: rgb(1,29,29);
}
.shippingForm > div > input:focus::placeholder{
    color: transparent;
}
.shippingBtn{
    background-color: tomato;
    height: 3px;
    margin-top: 2vmax;
    padding: 1vmax 2vmax 2.5vmax 2vmax;
    text-align: center;
    width: 50%;
    border: none;
    transition: all 0.5s;
    border-radius: 20px;
    font-size: 1.2vmax;
    font-family: 'Rubik';
    font-weight: bold;
    color: whitesmoke;
}
.shippingBtn:hover{
    background-color: rgba(0, 0, 0, 0.400);
    box-shadow: 0px 0px 25px 2px rgba(215, 189, 189, 0.8);
    letter-spacing: 2px;
    color: #8DFF8D;
}

@media screen and (max-width: 600px) {
    .shippingBox {
      width: 70vw;
      height: 55vh;
    }
    .shippingHeading{
        margin-top: 2.5vmax;
        font-size: 2.5vmax;
        margin-bottom: 2vmax;
    }
    .shippingForm > div > label{
        font-size: 1vmax;
    }
    .shippingForm > div > input:focus ~ label{
        top: 10px;
        left: 25px;
    }
    .shippingForm > div > svg{
        top: 20px;
    }
    .shippingBtn{
        margin-top: 3vmax;
        width:100%;
        font-size: 1.5vmax;     
    }
  }